services:
  - type: web
    name: stock-predictor
    runtime: python
    pythonVersion: 3.10
    buildCommand: bash build.sh
    startCommand: cd StockPredictionPortal && gunicorn StockPredictionPortal.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*.onrender.com"
